.appContainer {
    position: relative;
}

.bgImg {
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url('../assets/bg-cafe-lg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;

}

.vector {
    width: 257px;
    height: 153px;
    background-image: url('../assets/vector.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(645px, 20px);
    z-index: -1;
    position: absolute;

}

.container {
    position: absolute;
    width: 95%;
    height: auto;
    background-color: #1B1D1F;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 230px);
    border-radius: 10px;
    padding-bottom: 100px;
}

.heading  > h1{
    text-align: center;
    font-size: 32px;
    margin-top: 80px;
    margin-bottom: 15px;
}

.body > p {
    color: #6F757C;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.labels {
    display: flex;
    justify-content: center;
    gap: 25px;
    color: #FEF7EE;
}

.itemsContainer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 50px;
}